{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-5 ms-5">
            <h3 class="title-font">{% trans "RESET PASSWORD" %}</h3>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="body-font mt-3">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}"
                class="my-5 password_reset form-fields form-font">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-secondary btn-color rounded-0 my-4"
                    value="{% trans 'Reset My Password' %}"/>
            </form>

            <p class="body-font mt-3">{% blocktrans %}Please contact us if you have any trouble resetting your
                password.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}