{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "REGISTER" %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mt-5 ms-md-5">
      <h3 class="title-font">{% trans "REGISTER" %}</h3>

      <p class="body-font my-3">{% blocktrans %}Already have an account?<br>Then please <a href="{{ login_url }}">sign
          in</a>.{% endblocktrans %}</p>

      <form class="signup title-font my-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="my-4"/>
        {% endif %}
        <button class="btn btn-secondary btn-color rounded-0 title-font mt-3" type="submit">{% trans "CREATE ACCOUNT" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}