/* Fonts */
.title-font {
    font-family: 'Oxygen Mono', monospace;
}

.body-font {
    font-family: 'Source Code Pro', monospace;
}


/* Navbar */
#nav-logo {
    width: 10rem;
}


.nav-color-custom {
    background: #000000;
  }

.burger-color {
    background-color:rgb(234, 234, 234);
}

/* Footer Icons */
.footer-icon {
    color: #303030;
}


/* Buttons */
.btn-color {
    background-color: #3b3b3b;
}

.btn:hover{
    transform: scale(1.05);
}

/* Card Hover Effects */
.card:hover{
    transform: scale(1.01);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Custom Form Styling */
.form-field {
    border: 1px solid black;
    border-radius: 0;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1em;
   
}
.form-label {
    font-family: 'Source Code Pro', monospace;
}

.form-font {
    font-family: 'Source Code Pro', monospace;
}

/* Hide Form Labels */
label[for=id_name],
label[for=id_email],
label[for=id_username],
label[for=id_password],
label[for=id_password1],
label[for=id_password2],
label[for=id_login] {
    display: none;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}