/* Fonts */
.title-font {
    font-family: 'Oxygen Mono', monospace;
}

.body-font {
    font-family: 'Source Code Pro', monospace;
}


/* Navbar */
#nav-logo {
    width: 10rem;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #000000;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(0,0,0,1), rgba(81, 81, 81, 0.1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(81, 81, 81, 0.1));
  }


/* Footer Icons */
.footer-icon {
    color: #303030;
}


/* Buttons */
.btn-color {
    background-color: #303030;
}


/* Card Hover Effects */
.card:hover{
    transform: scale(1.01);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Custom Form Styling */
.form-field {
    border: 1px solid black;
    border-radius: 0;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1em;
   
}
.form-label {
    font-family: 'Source Code Pro', monospace;
}

.form-font {
    font-family: 'Source Code Pro', monospace;
}

/* Hide Form Labels */
label[for=id_name],
label[for=id_email],
label[for=id_username],
label[for=id_password],
label[for=id_password1],
label[for=id_password2],
label[for=id_login] {
    display: none;
}