/* Fonts */
/* font-family: 'Oxygen Mono', monospace;
font-family: 'Source Code Pro', monospace; */

.title-font {
    font-family: 'Oxygen Mono', monospace;
}

.body-font {
    font-family: 'Source Code Pro', monospace;
}

/* Card Images */
.post-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
