{% extends 'base.html' %}


{% block title %}Create a new post...{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row mx-3">
            <h3 class="title-font my-5">ADD A POST...</h3>
            <div class="form-group form-font">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary mt-3 rounded-0 btn-color">publish</button>
                </form>
            </div>
        </div>
    </div>

<!-- JS to auto fill the author as logged-in
     user in the form field for the database -->
<script>
    var loggedInAuthor = "{{ user.id }}";
    document.getElementById("authorField").value = loggedInAuthor
</script>

{% else %}
<!-- Displayed if no user is logged in -->
<div class="row">
    <div class="col">
        <p class="body-font mt-5 text-center">
            you must register or be signed in to view this page
        </p>
        <div class="body-font mt-5 d-flex justify-content-center">
            <a class="me-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_login' %}" role="button">login</a>
            <a class="ms-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_signup' %}" role="button">register</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}