{% extends 'base.html' %}

{% block content %}  
{% if user.is_staff %}
    {% block title %}Create a Topic Category...{% endblock %}
      
    <div class="container-fluid">
        <div class="row ms-3">
            <h3 class="title-font my-5">ADD CATEGORY...</h3>
            <div class="form-group">
                <form method="post" class="form-font">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary mt-3 rounded-0 btn-color">add</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <!-- Display if user navigates to page and isn't logged in -->
        <div class="row">
            <div class="col">
                <p class="body-font mt-5 text-center">
                    you must register or be signed in to view this page
                </p>
                <div class="body-font mt-5 d-flex justify-content-center">
                    <a class="me-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_login' %}" role="button">login</a>
                    <a class="ms-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_signup' %}" role="button">register</a>
                </div>
            </div>
        </div>
    
{% endif %}
{% endblock %}
    
