{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-12">
            <!-- <div class="col-lg-10 col-12"> -->
            <!-- Category Link -->
            <div class="mt-4">
                <a href="{% url 'category' post.category %}" class="text-decoration-none text-reset">
                    <h4 class="body-font">This post is in the category: <strong>{{ post.category }}</strong></h4>
                    <p class="body-font text-muted">Click to view more posts relating to this topic</p>
                </a>
            </div>
            <!-- Post Content -->
            <hr>
            <br>
            <h1 class="title-font mt-3">{{ post.title }}</h1>
            <br>
            <h3 class="title-font"><em>{{ post.subtitle }}</em></h3>
            <br>
            <small class="title-font">{{ post.author }}</small>
            <br>
            <small class="title-font">{{ post.updated_on }}</small>
            <br>
            <p class="body-font">{{ total_likes }} likes</p>
            <p class="body-font">{{ post.body }}</p>
            <hr>

            <div class="container">
                <div class="row">
                    <!-- Form for recording likes -->
                    {% if user.is_authenticated %}
                    <div class="col-2 p-0">
                        <div class="form-group">
                            <form action="{% url 'like-post' post.pk %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button class="btn btn-danger btn rounded-0 body-font btn-block" type="submit"
                                    name="post_id" value="{{ post.id }}">unlike</button>
                                {% else %}
                                <button class="btn btn-primary btn rounded-0 body-font" type="submit" name="post_id"
                                    value="{{ post.id }}">like</button>
                                {% endif %}
                            </form>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Allow access to edit posts in user is the author -->
                    {% if user.id == post.author.id %}
                    <div class="col-2 p-0">
                        <button class="btn btn-secondary btn-color rounded-0 body-font btn-block">
                            <a class="text-reset text-decoration-none" href="{% url 'update-post' post.pk %}">edit</a>
                        </button>
                    </div>
                    {% endif %}

                    <!-- Return Button -->
                    <div class="col-6 p-0"></div>
                    <div class="col-2 p-0">
                        <button class="btn btn-secondary btn-color rounded-0 btn-block float-end">
                            <a href="{% url 'home' %}" class="text-reset text-decoration-none">
                                <p class="body-font m-0">return</p>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <br>
            <!-- To display comments -->
            <h5 class="title-font mt-1">COMMENTS</h5>
            <br>
            {% if not post.comments.all %}
            <p class="body-font">
                No comments yet, be the first to comment below!
            </p>
            {% else %}
            {% for comment in post.comments.all %}
            <p class="title-font">
                <strong>
                    {{ comment.username }} -
                    {{ comment.date }}
                </strong>
            </p>
            <p class="body-font">
                {{ comment.body }}
            </p>
            <br>
            {% endfor %}
            {% endif %}
            <br>

            <!-- Form to add comments -->
            {% if user.is_authenticated %}
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button class="btn btn-secondary rounded-0 mt-3 body-font">add comment</button>
                </form>
            </div>
            {% else %}
            <p class="body-font"><a href="{% url 'home' %}">log in to comment on this post</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}