{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-12">
            <h1 class="title-font mt-3">{{ post.title }}</h1>
            <br>
            <h3 class="title-font"><em>{{ post.subtitle }}</em></h3>
            <br>
            <small class="title-font">{{ post.author }}</small>
            <br>
            <small class="title-font">{{ post.updated_on }}</small>
            <br>
            <p class="body-font mt-4">{{ post.body }}</p>
            <button class="btn btn-secondary mt-4">
                <a class="text-reset text-decoration-none" href="{% url 'update-post' post.pk %}">EDIT</a>
            </button>

        </div>
        <div class="col-lg-2 d-none d-lg-block">
            (Blank for footer)
        </div>
    </div>
</div>




{% endblock %}