{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-12">
            <a href="{% url 'category' post.category %}" class="text-decoration-none text-reset">
                <h4 class="body-font">{{ post.category }}</h4>
                <p class="body-font text-muted">Click to view more posts relating to this category</p>
            </a>
            <br>
            <h1 class="title-font mt-3">{{ post.title }}</h1>
            <br>
            <h3 class="title-font"><em>{{ post.subtitle }}</em></h3>
            <br>
            <small class="title-font">{{ post.author }}</small>
            <br>
            <small class="title-font">{{ post.updated_on }}</small>
            <br>
            <p class="body-font mt-4">{{ post.body }}</p>
            <hr>
            <br>

            <!-- Show the edit post button if the user is the author -->
            {% if user.id == post.author.id %}
                <button class="btn btn-secondary mt-4">
                    <a class="text-reset text-decoration-none" href="{% url 'update-post' post.pk %}">EDIT</a>
                </button>
            {% endif %}

            <!-- Form for recording likes -->
            <div class="form-group">
                <form action="{% url 'like-post' post.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm rounded-0" type="submit" name="post_id" value="{{ post.id }}">Like</button>
                </form>
                {{ total_likes }}
            </div>
            <br>

            <!-- To display comments -->
            <h5 class="body-font">COMMENTS</h5>
            <br>
            {% if not post.comments.all %}
                <p class="body-font">
                    No comments yet, be the first to comment below!
                </p>
            {% else %}
                {% for comment in post.comments.all %}
                <p class="title-font">
                    <strong>
                        {{ comment.username }} -
                        {{ comment.date }}
                    </strong>
                </p>
                <p class="body-font">
                    {{ comment.body }}
                </p>
                <br>
                {% endfor %}
            {% endif %}
            <br>

            <!-- Form to add comments -->
            {% if user.is_authenticated %}
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary mt-3">ADD COMMENT</button>
                </form>
            </div>

        
            {% else %}
            <p class="body-font"><a href="{% url 'home' %}">Log in to comment on this post</a></p>
            {% endif %}


            
        </div>
        <div class="col-lg-2 d-none d-lg-block">
            <div class="title-font">
                (FOOTER HERE)
            </div>
        </div>
    </div>
</div>
{% endblock %}