{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container-fluid">
    <p class="body-font mt-5 mb-0">showing all posts in...</p>
    <div class="my-4 text-center">
      <h3 class="title-font text-uppercase">{{ category }}</h3>
    </div>

    <!-- Display all posts within category -->
    {% for post in category_posts %}
    <div class="card mb-3 rounded-0 border-dark">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title title-font">
              <a class=" text-reset text-decoration-none" href="{% url 'article' post.pk %}">{{post.title}}</a>
            </h4>
            <p class="card-text body-font">{{post.subtitle}}</p>
            <h6 class="card-text title-font">{{post.author}}</h6>
            <p class="card-text body-font m-0">
              added to
              <a href="{% url 'category' post.category %}" class="card-text title-font text-decoration-none text-reset">
                <strong>{{post.category}}</strong>
              </a>
              on
              <small class="mb-0 text-muted">{{post.updated_on}}</small>
            </p>
              {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                  <button class="btn btn-secondary btn-color rounded-0 body-font btn-block mt-3">
                      <a class="text-reset text-decoration-none" href="{% url 'update-post' post.pk %}">edit</a>
                  </button>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
<!-- Display if user navigates to page and isn't logged in -->
<div class="row">
  <div class="col">
      <p class="body-font mt-5 text-center">
          you must register or be signed in to view this page
      </p>
      <div class="body-font mt-5 d-flex justify-content-center">
          <a class="me-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_login' %}" role="button">login</a>
          <a class="ms-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_signup' %}" role="button">register</a>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}