{% extends 'base.html' %}
{% block title %}DELETE POST!{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <div class="container-fluid">
        <div class="row ms-3">
            <h3 class="title-font my-5">DELETE POST?</h3>
            <h4 class="body-font">
                are you sure you want to delete the post titled:
                <br><br>
                <strong>{{ post.title }}</strong>
            </h4>
            <div class="row form-group form-font my-5">
                <div class="col">
                    <form method="post">
                        {% csrf_token %}
                        <p class="title-font"><em>This action cannot be undone!</em></p>
                        <button class="btn btn-danger mt-3 rounded-0"><strong>delete</strong></button>
                    </form>
                    <button class="btn btn-secondary btn-color rounded-0 my-4">
                        <a class="title-font text-decoration-none text-reset" href="{% url 'home' %}">return</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <!-- Display if the wrong user navigates to the page -->
    <div class="row">
        <div class="col">
            <p class="body-font mt-5 text-center">
                you must be the author of the post in order to access this page
            </p>
            <div class="body-font mt-5 d-flex justify-content-center">
                <button class="btn btn-secondary rounded-0">
                    <a class="body-font text-decoration-none text-reset" href="{% url 'home' %}">return</a>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
<!-- Displayed if no user is logged in -->
<div class="container">
    <div class="row align-items-center">
        <div class="ms-4 mt-4">
            <h3 class="body-font">you do not have permission to view this page</h3><br>
            <button class="btn btn-secondary rounded-0 btn-color">
                <a class="body-font text-decoration-none text-reset" href="{% url 'home' %}">return</a>
            </button>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}