{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% for post in post_list %}
            <div class="card mb-3" style="max-height: 200px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/talk_practice_forum_p4/static/images/default-img.jpg" class="img-fluid rounded-start post-img" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title title-font">
                        <a class=" text-reset text-decoration-none" href="{% url 'article' post.pk %}">{{post.title}}</a>
                      </h5>
                      <p class="card-text body-font">{{post.subtitle}}</p>
                      <p class="card-text">{{post.author}}</p>
                      <a href="{% url 'category' post.category %}" class="card-text">{{post.category}}</a>
                      <p class="card-text"><small class="text-muted">{{post.updated_on}}</small></p>
                      {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <small><a href="{% url 'update-post' post.pk %}">edit</a></small>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}