{% extends 'base.html' %}
{% block title %}Update Post: {{ post.title }}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class="container-fluid">
    <div class="row mx-3">
        <h3 class="title-font my-5">UPDATE POST...</h3>
        <div class="form-group form-font">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary rounded-0 btn-color mt-3">update</button>
            </form>
            <button class="btn btn-danger rounded-0 mt-3">
                <a class="text-reset text-decoration-none" href="{% url 'delete-post' post.pk %}">delete</a>
            </button>
            {% else %}
            <!-- Displayed if the logged in user is not the author -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="ms-4 mt-4">
                        <h3 class="title-font">You do not have permission to view this page</h3><br>
                        <button class="btn btn-secondary rounded-0">
                            <a class="title-font text-decoration-none text-reset" href="{% url 'home' %}">RETURN</a>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<!-- Display if user navigates to page and isn't logged in -->
<div class="row">
    <div class="col">
        <p class="body-font mt-5 text-center">
            you must register or be signed in to view this page
        </p>
        <div class="body-font mt-5 d-flex justify-content-center">
            <a class="me-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_login' %}" role="button">login</a>
            <a class="ms-5 btn btn-lg rounded-0 border border-dark shadow" href="{% url 'account_signup' %}" role="button">register</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}