{% extends 'base.html' %}

{% block content %}

<h1 class="title-font">Update Post...</h1>
<div class="container-fluid">
    <div class="form-group">
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <!-- <input class="btn btn-secondary" type="submit"> -->
            <button class="btn btn-secondary mt-3">UPDATE</button>
        </form>
        <button class="btn btn-danger">
            <a class="text-reset text-decoration-none" href="{% url 'delete-post' post.pk %}">DELETE</a>
        </button>

    </div>
</div>

{% endblock %}